<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
    <img src="<%= image_path("logo_sigas.png")%>">
  </div>
    
    <br />
    <h2> <%= @user.name %>,</h2>
 
  <p>Você acaba de ser registrado em http://...</p>
  <p>Seus dados de acesso ao sistema são:</p>

  <div style="margin-left:50px;">
    <b>E-mail:</b>  <%= @user.email %><br />
    <b>Senha:</b> <%= @pwd %>
  </div>
  
  <p>Após efetuar o login, você pode alterar esta senha.</p>
 
  <p>Obrigado e tenha um bom dia!</p>
  </body>
</html>